@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Madimi One", sans-serif;
  }
  body {
    background-color: #fff;
  }

  html{
       scroll-behavior: smooth;
  }

  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  #search-container {
    margin: 1em 0;
  }
  #search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
  }
  #search-container input:focus {
    border-bottom-color: #38B6FF;
  }
  #search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #38B6FF;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
  }
  .button-value {
    border: 2px solid #38B6FF;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #38B6FF;
    cursor: pointer;
  }
  .active {
    background-color: #38B6FF;
    color: #ffffff;
  }
  #products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
  }
  .card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
  }
  .image-container {
    text-align: center;
  }
  img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
  }
  .container {
    padding-top: 1em;
    color: #110f29;
  }
  .container h5 {
    font-weight: 500;
  }
  .hide {
    display: none;
  }

  /* TOP BUTTON  */
#progress{
  background-color: #38B6FF;
  position: fixed;
  top: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value{
        display: block;
        height: calc(100% - 15px);
        width: calc(100% - 15px);
        background-color: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 35px;
        color: #000;

}
/* TOP BUTTON  */
  @media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
    .card {
      max-width: 10em;
      margin-top: 1em;
    }
    #products {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    }
  }


